<h2 class="center"> Sign up for Lunch!</h2>
<br>
<div class="row">
	<div class="col-md-6 col-md-offset-3">
		<%= bootstrap_form_for @user do |f| %>
			<%= f.email_field :email %>
			<%= f.text_field :first_name %>
			<%= f.text_field :last_name %>
			<%= f.password_field :password %>
			<%= f.password_field :password_confirmation %>

			<%= f.submit "Sign up!", class: "btn btn-primary" %>
		<% end %>
	</div>
</div>
