<%= bootstrap_form_for @meal do |f| %>
  <h4 class='center'>Add Meal</h4>

  <%= f.text_field :name, required: true %>
  <%= f.text_field :description, required: true %>
  <%= f.select :category, Meal.categories, prompt: "Select a meal type..." %>
  <%= f.text_field :meal_date, "data-provide" => 'datepicker', "data-date-format" => "yyyy/mm/dd", required: true%>
  <%= f.hidden_field :group_id, :value => @group.id %>

  <%= f.submit class: "btn btn-primary"%>
<% end %>
